.TagLine-Container{
    display: flex;
    padding: 40px 120px 10px 120px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(245, 241, 241);
    grid-gap: 10px;
    background-color: rgb(255, 255, 255);
}
@media (max-width:700px) {
        .TagLine-Container{
            justify-content: space-evenly;
            padding: 40px 10px;
        }
}